<section class="bg-primary" id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wedding info</h2>
                <hr class="light">
                <p class="text-faded">Welcome to this wonderful domain which houses all of the lovely information regarding our wedding. If you've been invited to the wedding, but you haven't yet confirmed your attendance (or lack thereof), please be ever so kind and hit that 'RSVP' button below. You'll be redirected to another wonderfully compiled webform that you should fill out for us :)</p>
                <a href="#" class="btn btn-default btn-xl">RSVP</a>
            </div>
        </div>
    </div>
</section>
