<section class="bg-primary" id="faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Frequently asked questions</h2>
                <hr class="light">
                <h3>What day is the wedding?</h3>
                <p class="text-faded">It's on Saturday 2nd October 2021 :)</p>
                <h3>What time does it start?</h3>
                <p class="text-faded">The ceremony will be at 1:00PM, so we ask you to be at the venue 12:30PM at the latest. The day will begin at 11:00AM, so feel free to join us then and have a drink with us. Some finger food will also be on offer, so don't be shy.</p>
                <h3>Where is it?</h3>
                <p class="text-faded"><a href="https://svatba.cz/dodavatel/statek-vitice" class="light">Statek Vitice</a>. It's south-east of Prague by about 45km, and 7km away from Cesky Brod.</p>
                <h3>How do I get there?</h3>
                <p class="text-faded">Naturally, driving is going to be the easiest. There are public transport services available from Cesky Brod, so taking a bus/train to Cesky Brod, then a bus to Vitice is easy! If you don't have a car and don't want to take the public transport, send us a message and we'll try to arrange something for you. Perhaps one of our other lovely weddingcomers will let you hop in their car.</p>
                <h3>Where am I going to sleep?</h3>
                <p class="text-faded">Statek Vitice has accommodation for 16 guests, comfortably. You're welcome to bring a sleeping bag, mat and tent too. If this isn't your style, nearby in Cesky Brod, there are two hotels/penzions that you could stay at; <a href="https://www.ukostela.cz/" class="light">Penzion U Kostela</a> and <a href="https://hotelapeyron.cz/" class="light">Hotel Apeyron</a>. We'll have a shuttle service that can take you from the wedding venue back to your hotel. There are also taxi services available, so even travel back to Prague could be possible.</p>
                <h3>I'm bringing a child or children to the wedding. Can they use the accommodation for naps during the day?</h3>
                <p class="text-faded">Of course! We want you and your loved ones to be as comfortable as possible during the day. If there's anything else we can do to help, please let us know.</p>
                <h3>Is it really going to be a vegan wedding? I like meat. Can't you make a special meal for me?</h3>
                <p class="text-faded">Respectfully, no. If you've been invited to this wonderful day of ours, you'll already know that Dani is a loving vegan. This being her special day, we'd like to ask our guests to try something new. Who knows, this might be the first day of an exciting vegan adventure for you :)</p>
                <h3>OK, I understand. What sort of food can I look forward to?</h3>
                <p class="text-faded">We've enlisted the help of a beautiful vegan chef in Prague. During the lunch, you can look forward to a vegan take on some traditional Czech food. Later on, we'll have a nice buffet for you with a variety of international cuisines to try. Of course, if this really isn't to your or your children's liking, write to us and we can work something out.</p>
                <h3>What about drinks?</h3>
                <p class="text-faded">There will be tea, coffee, beer, wines, spirits and cocktails available for you. Also, water.</p>
                <h3>What should I wear? Is there a dress code?</h3>
                <p class="text-faded">It would be nice if you could dress smart. Something cute though. Prizes may be given.</p>
                <h3>Will there be entertainment? Will you have a DJ?</h3>
                <p class="text-faded">We won't be having a DJ at the wedding, but we'll just be playing music ourselves. If you'd like to suggest a bit of music to play during the evening, let us know and we'll add it to our party playlist :)</p>
            </div>
        </div>
    </div>
</section>
