<section class="bg-primary" id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wedding info</h2>
                <hr class="light">
                <p class="text-faded">Hello and welcome to this wonderful domain which houses all of the lovely information regarding our wedding.</p>
                <p class="text-faded">The wedding will take place at <a href="https://svatba.cz/dodavatel/statek-vitice" class="light">Statek Vitice</a>, which is approximately 45km (35-40 minute drive) from Prague, to the south-east. You can see it on the map <a href="https://goo.gl/maps/obnH14NDB7bfmtnE6" class="light">here</a>. If you'd like to see a happy dog having a sponge bath, click <a href="https://www.youtube.com/watch?v=EubuphQ79z4" class="light">here</a> too :)</p>
                <p class="text-faded">Statek Vitice can accommodate 80 people in total for the wedding. For sleeping, it has accommodation for approximately 16 guests (comfortably). The nearest town, Cesky Brod (9 minute drive from Statek Vitice) has two hotels/penzions; <a href="https://www.ukostela.cz" class="light">Penzion U Kostela</a> and <a href="https://hotelapeyron.cz" class="light">Hotel Apeyron</a>. We'll have a handy shuttle service in order to transport people from the venue to Cesky Brod too if needed :)</p>
                <p class="text-faded">For those who wish to stick around for the whole night, bring a sleeping bag, mat and/or tent and we'll share some tales beneath the stars :) We can even have a nice breakfast together too.</p>
                <p class="text-faded">The day will officially begin at <b><u>11AM</u></b>, at which point we'd kindly ask our loving guests to start arriving. More information about the day's timeline can be seen in the <a class="light page-scroll" href="#timeline">'Celebration Timeline'</a> section below :)</p>
                <p class="text-faded">Just to let you know, the wedding will be entirely vegan :) that means no meat, dairy or animal products will be served. There will be plenty of drinks (beer, wine, spirits, cocktails & coffee) available through to drown your sorrows when coming to terms with that.</p>
                
            </div>
        </div>
    </div>
</section>
