<section class="bg-primary" id="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wedding info</h2>
                <hr class="light">
                <p class="text-faded">Hello and welcome to this wonderful domain which houses all of the lovely information regarding our wedding.</p>
                <p class="text-faded">The wedding will take place at <a href="https://svatba.cz/dodavatel/statek-vitice" class="light">Statek Vitice</a>, which is approximately 45km (35-40 minute drive) from Prague, to the south-east. You can see it on the map <a href="https://goo.gl/maps/obnH14NDB7bfmtnE6" class="light">here</a>.</p>
                <p class="text-faded">The day will officially begin at 11am, at which point we'd kindly ask our loving guests to start arriving. More information about the day's timeline can be seen in the <a class="light page-scroll" href="#timeline">'Celebration Timeline'</a> section below :)</p>
            </div>
        </div>
    </div>
</section>
